@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

.header-store {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  margin-bottom: 96px;
}

.header-store > .title {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.header-store .search {
  width: 360px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin-right: 65px;
}

.header-store > .navigation {
  font-size: 21px;
  font-family: "Lato", sans-serif;
}

.header-store .action {
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
  position: relative;
}

.header-store .action.-last {
  margin-right: 0;
}

.header-store .action:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 200ms linear;
}

.header-store .action:hover:after {
  width: 100%;
}

@media (max-width: 1310px) {
  .header-store {
    padding-right: 60px;
  }
}

@media (max-width: 1235px) {
  .header-store {
    flex-direction: column;
  }

  .header-store > .title {
    margin-bottom: 20px;
  }
}

@media (max-width: 970px) {
  .header-store .search {
    display: none;
  }

  .header-store {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 540px) {
  .header-store .action {
    margin-right: 30px;
  }
}

@media (max-width: 415px) {
  .header-store .action {
    margin-right: 15px;
  }

  .header-store {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 355px) {
  .header-store .action {
    margin-right: 10px;
  }
}

@media (max-width: 345px) {
  .header-store > .navigation {
    display: none;
  }
}
