.product-description > .description-title {
  font-size: 25px;
  margin-bottom: 50px;
}

.product-description > .hearts {
  position: absolute;
  top: 0;
  transform: translate(calc(-100% - 46px), 9px);
}

.product-description > .product-avaliation {
  margin-bottom: 10px;
}

.product-description .star {
  margin-right: 8px;
}

.product-description .star:hover {
  cursor: pointer;
}

.product-description > .product-detail {
  font-size: 20px;
}

.product-description > .product-detail.-score {
  margin-left: 8.5px;
}

.product-description > .product-detail.-pricing {
  margin-top: 25px;
}

.product-description > .product-detail.-pricing.-info {
  width: 200px;
  text-align: right;
}

.product-description > .product-detail.-description {
  margin-top: 70px;
  margin-bottom: 35px;
  line-height: 30px;
}

.product-description .contrast {
  text-transform: uppercase;
  float: left;
}

.product-description .action {
  text-decoration: none;
  color: inherit;
}

.product-description > .product-detail.-page-button {
  display: inline-block;
  margin-right: 38px;
}
