@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

header {
  background-color: #e24647;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30% 115px 0;
  padding: 55px 60px 95px;
}

h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  font-size: 21px;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  margin-left: 60px;
}

main {
  background-color: #e24647;
  margin: 0 115px;
  overflow: hidden;
  padding-right: 165px;
  padding-bottom: 65px;
}

button {
  background-color: #252c41;
  height: 60px;
  width: 200px;
  border: solid 2px #252c41;
  color: #fff;
  font-size: 20px;
  float: right;
}
